@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700&display=swap');


body {
  margin: 0;
  font-family: 'Poppins';
}
.web-page{
  margin:50px;
}
.display-card{
 background-color: #F2F4F5;
 width: 1500px;
 border-radius: 7px;
 margin-inline: 25px;
 margin-block: 10px;
 padding-inline: 30px;
 padding-block: 20px;
 display: flex;
 flex-direction: row;
 gap : 15px;
}

.checkbox-div {
  display: inline-block;
}

h2 {
  color: #202735;
  font-weight: 700;
}

h3 {
  color: #000000;
  font-weight: 800;
}

.rounded-checkbox {
  width: 15px;
  height: 15px;
  border-radius: 15%;
  vertical-align: middle;
  border: 2px solid #9E9E9E;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  background-color: white;
  margin-right: 10px;
}

.rounded-checkbox:checked {
  appearance: auto;
  clip-path: circle(65% at 50% 50%);
  background-color: blue;
}

.publish{
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 18px;
  color: #4ACCED;
  border-radius: 8px;
  border: 1px solid #8FE1F5;
  background-color: #E2FAFF;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 8px;
  box-shadow:  0 2px 4px rgba(43, 43, 43, 0.2);
} 

.publish:hover{
  cursor: pointer;
  color: #ffffff;
  border: 1px solid #8FE1F5;
  background-color: #8FE1F5;
}


.delete{
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 18px;
  color: #F34E4E;
  border-radius: 8px;
  border: 1px solid #f46262;
  background-color: #FFF0F0;
  margin: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  box-shadow:  0 2px 4px rgba(43, 43, 43, 0.2);
}

.delete:hover{
  cursor: pointer;
  color: #ffffff;
  border: 1px solid #f46262;
  background-color: #f46262;
}

.card-subheader{
  font-size: 20px;
  font-weight: 700;
  color: #727986; 
  margin-inline: 10px;
}

.card-header{
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 5px;
}

.card-container{
  display: flex;
  flex-direction: column;
  
  
}

.card-details{
  display: flex;
  flex-direction: row;
}

#eye-icon{
  margin-bottom: 3px;
}
.article-body{
  color: #838995;
  width: 13%;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 300;
  font-size: 20px;
  text-overflow: ellipsis;
  display: inline-block;
}

#read-full{
  color: #4285F5;
  overflow: hidden;
  font-weight: 300;
  font-size: 20px;
  display: inline-block;
}

#read-full:hover{
  overflow: hidden;
  font-weight: 300;
  font-size: 20px;
  display: inline-block;
}

#read-div{
  display: inline;
}

#read-div:hover{

  cursor: pointer;
  display: inline;
}

